header {
  background-color: #d690f6;
}

.navbar ul li {
  display: inline-flex;
  justify-content: right;
}

#dropdownMenuButton1 li{
  display: inline-flex;
}

@media .navbar (max-size: 720px) {

}
