header {
  background-color: #d690f6;
  display: inline-flex;
  height: 5em;
  position: relative;
}

/*https://www.w3.org/Style/Examples/007/center.en.html*/
header h2 {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.title {
  text-align: center;
}

/*https://www.w3.org/Style/Examples/007/center.en.html but I played around with the properties to make it work*/
.navbar {
  margin: 0;
  position: fixed;
  right: 0;
  transform: translate(0, 20%);
}

.navbar ul li {
  display: inline;
}

img {
  width: 600px;
  height: 450px;
  display: block;
  margin: auto;
}

.viz-links {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.viz-links img{
  width: 180px;
  height: 135px;
}

@media (min-width: 720px) {
  .navbar-expand-md {width: auto;}
}

.col-xs-12 {
  width: 100%;
}
